{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"globals": {
		"require": "writable",
		"module": "writable"
	},
	"plugins": ["react", "prettier"],
	"rules": {
		"linebreak-style": ["warn", "unix"],
		"no-console": "warn",
		"camelcase": "warn",
		"no-unused-vars": "warn",
		"no-case-declarations": "warn",
		"no-undef": "warn",
		"no-useless-escape": "warn",
		"no-redeclare": "warn",
		"no-prototype-builtins": "warn",
		"no-empty": "warn",
		"no-constant-condition": "warn",
		"no-func-assign": "warn",
		"prettier/prettier": [
			"error",
			{
				"jsxBracketSameLine": false,
				"jsxSingleQuote": false,
				"arrowParens": "avoid",
				"bracketSpacing": true,
				"printWidth": 120,
				"semi": true,
				"singleQuote": false,
				"tabWidth": 2,
				"useTabs": true
			}
		]
	}
}
