# General
node_modules
.eslintignore
.prettierignore
.gitignore
.editorconfig
.browserslistrc
.htaccess
.git-ftp-include
*.min.*
*.yml
*.pdf
*.otf
*.jpg
*.gif
*.png

# Project specific
public
gatsby-config.js
gatsby-browser.js
