{
	"parser": "babel-eslint",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 2020,
		"sourceType": "module"
	},
	"env": {
		"browser": true,
		"es6": true
	},
	"globals": {
		"require": "writable",
		"module": "writable"
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "plugin:prettier/recommended"],
	"plugins": ["react", "prettier"],
	"rules": {
		"linebreak-style": ["warn", "unix"],
		"prettier/prettier": [
			"error",
			{
				"arrowParens": "avoid",
				"bracketSpacing": true,
				"printWidth": 120,
				"semi": true,
				"singleQuote": false,
				"tabWidth": 4,
				"useTabs": true
			}
		]
	}
}
