#About {
  background: $light-orange;
  padding: 4vh 15vw;
  border: 3px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  > h1 {
    text-align: center;
    font-family: $header;
    position: relative;
    width: auto;
    margin-bottom: 25px;

    &::after {
      content: " ";
      background: black;
      position: absolute;
      bottom: -25%;
      left: 25%;
      width: 50%;
      height: 3px;
    }
  }

  > div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;

    > .aboutText {
      margin-right: 2vw;

      h2 {
        font-family: $header;
        font-weight: 300;
        font-size: 1.4em;
        margin-bottom: 15px;

        > span {
          font-family: $header;
          font-size: 1.2em;
        }
      }

      p,
      span {
        font-family: $text;
        margin-bottom: 10px;

        &:nth-last-of-type(1) {
          margin-bottom: 0;
        }
      }
    }

    > .image {
      max-width: 262px;
      max-height: 262px;
      width: 50vw;
      height: 50vw;
      position: relative;
      z-index: 0;

      &::after {
        content: " ";
        background: black;
        position: absolute;
        top: 0;
        left: 0;
        max-width: 262px;
        max-height: 262px;
        width: 50vw;
        height: 50vw;
        z-index: -1;
        border-radius: 50%;
      }

      > img {
        max-width: 262px;
        max-height: 262px;
        width: 50vw;
        height: 50vw;

        box-sizing: border-box;
        outline: none;

        border-radius: 50%;
        border: 6px solid black;
        -webkit-user-drag: none;
        user-select: none;
      }
    }
  }
}

@media only screen and (max-width: 916px) {
  #About {
    padding: 4vh 4vw;

    > div {
      flex-direction: column;
      align-items: center;

      > .aboutText {
        margin: 0 0 15px 0;

        > h2 {
          text-align: center;
        }
        > p {
          padding: 0 5vw;
          line-height: 1.2em;
          margin-bottom: 20px;
        }
      }
    }
  }
}
