#Contact {
  z-index: 1;
  border: 3px solid black;
  border-top: none;
  border-bottom: none;

  position: relative;
  height: 40vh;
  padding: 5vh 0;
  width: 100%;
  background: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 30px;

  > div.cat {
    position: relative;
    background: white;
    border: 6px solid black;
    width: auto;
    max-width: 600px;
    min-height: 100px;
    height: auto;
    max-height: 40vh;

    padding: 2vh 2vw;

    transition: 0.15s ease-in-out width, 0.15s ease-in-out height;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &::after {
      content: " ";
      background: black;
      width: calc(100% + 10.5px);
      height: calc(100% + 10.5px);
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    > h1 {
      text-align: center;
      font-size: 2em;
      margin: 10px 25px;
    }

    > p {
      margin: 10px 25px;
      max-width: 395px;
      text-align: center;

      &:nth-of-type(1) {
        margin-bottom: 0px;
      }
      &:nth-last-of-type(1) {
        margin-bottom: 20px;
      }
    }

    > div {
      display: flex;
      width: 80%;
      justify-content: center;
      align-items: center;

      > a {
        margin: 0.1em 1em;
        border: 3px solid black;
        padding: 0.5em;
        font-size: 1.1em;
        text-decoration: none;
        color: black;
        display: flex;
        align-items: center;

        box-sizing: border-box;
        transition: 0.15s ease-in-out box-shadow;
        outline: none;

        &:hover,
        &:focus {
          box-shadow: 0px 0px 0px 3px black inset;
        }
        &:active {
          box-shadow: 0px 0px 0px 6px black inset;
        }

        > img {
          width: 35px;
          height: 35px;
        }
      }
    }
  }

  @media only screen and (max-width: 916px) {
    > div.cat {
      width: 80vw;
      max-width: 80vw;
    }
  }
}
