.Footer {
  position: relative;
  min-height: 700px;
  height: 50vh;
  background: $blue;
  background: linear-gradient(to top right, $blue-darken-1, $blue-lighten-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;

  .container {
    padding-top: 35vh;
    .divider {
      margin: 2.5vh 0;
      opacity: 0.3;
    }
  }
  .slant {
    position: absolute;
    z-index: 2;
    top: -100px;
    width: 100%;
    height: 250px;
    background: $grey-lighten-3;
    transform: skewY(4deg) translateY(0);
  }

  .Logo {
    position: fixed;
    left: -2.2vw;
    bottom: -4.7vw;
    width: 20vw;
    height: 20vw;
    opacity: 0.075;
    z-index: -1;
    g {
      fill: $white;
    }
  }
}
