.Header {
  position: relative;
  min-height: 700px;
  height: 85vh;
  background: $blue;
  background: linear-gradient(to top right, $blue-darken-1, $blue-lighten-1);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .InnerHeader {
    z-index: 3;
  }
  .react-parallax {
    user-select: none;
    position: absolute !important;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    opacity: 0.25;
    .react-parallax-bgimage {
      opacity: 0;
      transition: opacity 0.9s ease-in-out;

      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      min-width: 100%;
      min-height: 100%;
      height: auto;
      width: auto;
    }
    .react-parallax-bgimage.loaded {
      opacity: 1;
    }
  }
  .container {
    position: relative;
    z-index: 2;
    height: 100%;
    nav {
      height: $nav-height;
      .nav-wrapper {
        .brand-logo {
          height: $nav-height;
          .Logo {
            width: $nav-height;
            height: $nav-height;
            g {
              fill: $white;

              &.X.animated > path {
                animation: onHoverLogo 1s;
                @keyframes onHoverLogo {
                  0% {
                    transform: translate(0, 0);
                  }
                  50% {
                    transform: translate(4px, -8px);
                  }
                  100% {
                    transform: translate(0, 0);
                  }
                }
              }
            }
          }
        }
        button {
          cursor: pointer;
          margin: 18px 0;
          border: none;
          background: transparent;
          color: $white;
          width: 64px;
          transition: color 0.3s ease-in-out;
          &:active,
          &:hover,
          &:focus {
            color: $grey-lighten-3;
          }
        }
        ul#nav-mobile {
          height: $nav-height;
          li {
            height: $nav-height;
            margin: 0 1.2vw;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
              padding: 0;
              font-size: 1.05em;
              background: transparent;
              .inner {
                .default,
                .hover {
                  color: $grey-lighten-2;
                  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
                }
              }
              &.active,
              &:hover,
              &:active {
                .inner {
                  .default,
                  .hover {
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .slant {
    position: absolute;
    bottom: -100px;
    width: 100%;
    height: 250px;
    background: $grey-lighten-3;
    transform: skewY(-4deg) translateY(0);
    z-index: 4;
  }
}
ul.SidebarContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  li {
    display: block;
    height: 5%;
    margin: 0 0 0 10px;

    &.close {
      position: absolute;
      right: 0;
    }
    h5 {
      font-size: 1.7em;
      color: $white;
    }
    button,
    button:active,
    button:hover,
    button:focus {
      cursor: pointer;
      margin: 18px 0;
      border: none;
      background: transparent;
      color: $white;
      width: 64px;
      position: relative;
      top: -15px;
    }
    a {
      color: $grey-lighten-2;
      font-size: 1.3em;
      background: transparent;

      &.active,
      &.hover,
      &.focus {
        color: $white;
      }
    }
    &:nth-child(2) {
      margin-bottom: 25px;
    }
  }
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  min-width: 250px;
  width: 25vw;
  z-index: 10;
  background: $blue-lighten-1;
}
.bm-menu {
  z-index: 10;
  transition: box-shadow 0.3s ease-in-out;
}
.bm-item-list {
  padding: 0.5em;
  box-shadow: none;
  background: transparent;
}
.bm-overlay {
  position: fixed;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
