ul.SidebarContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  li {
    display: block;

    &.close {
      position: absolute;
      right: 0;
    }
    h5 {
      font-size: 1.6em;
      color: $black;
    }
    button,
    button:active,
    button:hover,
    button:focus {
      cursor: pointer;
      margin: 18px 0;
      border: none;
      background: transparent;
      color: $black;
      width: 64px;
      position: relative;
      top: -17px;
    }
    a {
      color: $blue-lighten-1;
      font-size: 1.4em;
      background: transparent;

      &.active {
        color: $blue-darken-1;
      }
    }
    &:nth-child(2) {
      padding-left: 10px;
      margin-bottom: 10px;
    }
  }
}
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  top: 0;
  min-width: 250px;
  width: 25vw;
}
.bm-menu {
  background: $white;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14),
    0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
  z-index: 3;
}
.bm-item-list {
  padding: 0.5em;
  box-shadow: none;
  background: transparent;
}
.bm-overlay {
  position: fixed;
  height: 100%;
  top: 0;
  background: rgba(0, 0, 0, 0.3);
}
