#Skills {
	z-index: 1;
	background: $light-green;
	padding: 4vh 1vw 6vh 1vw;
	border: 3px solid black;
	border-top: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 50vh;
	height: 100%;

	.options {
		width: 86%;
		height: auto;
		margin: 0 7% 10px 7%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	div.skills-container {
		width: 100%;
		min-height: 50vh;
		height: auto;
		position: relative;

		> .drag {
			background: white;
			border: 6px solid black;
			display: flex;
			justify-content: center;
			align-items: center;
			user-select: none;
			font-size: 15px;
			float: left;
			box-sizing: border-box;
			min-height: 25px;

			> img {
				height: 4vh;
				margin-right: 10px;
			}

			&:hover,
			&.active,
			&.react-draggable,
			&.react-draggable-dragging,
			&.react-draggable-dragged {
				cursor: move;
			}
		}

		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;

		> .skill-item {
			width: 48%;
			min-width: 150px;
			margin: 1%;
			padding: 1%;
			height: 6vh;
			background: white;
			border: 6px solid black;
			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;

			> img {
				height: 3.5vh;
				margin-right: 5px;
			}
		}
	}
}

@media only screen and (max-width: 916px) {
	#Skills {
		padding: 4vh 4vw 2vh 4vw;
	}
}
