.ContactCTA {
  width: 100%;
  max-width: 1000px;
  height: 250px;
  background: $white;
  margin: -22vh auto 0 auto;
  padding: 25px;
  z-index: 50;
  border-radius: 8px;
  position: relative;
  div {
    margin-right: 200px;
    h4,
    span {
      color: black;
    }

    a {
      position: absolute;
      bottom: 12%;
      left: 25px;
      cursor: pointer;
      background: linear-gradient(
        to top right,
        $blue-darken-1,
        $blue-lighten-1
      ) !important;
      color: $white;
      width: 20%;
      min-width: 150px;
      margin: 2vh 0 0 2vw;
      transition: transform 0.5s ease-out, box-shadow 0.5s ease-out;
      border-radius: 50px;

      &:hover,
      &:active,
      &:focus {
        transform: translateY(-2px);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
      }
    }
    &.hide-on-med-and-up {
      margin-right: 0;

      a {
        bottom: 10%;
      }
    }
    &.hide-on-large-only {
      margin-right: 150px;

      a {
        bottom: 13%;
        left: 25px;
      }
    }
  }
  img {
    position: absolute;
    top: 25px;
    right: 25px;
    height: 200px;
    width: 200px;
    z-index: -1;

    &.hide-on-med-and-up {
      height: 150px;
      width: 150px;
      top: 50px;
      right: 25px;
      opacity: 0.5;
    }

    &.hide-on-large-only {
      height: 150px;
      width: 150px;
      top: 50px;
      right: 25px;
    }
  }
}
