.Copyright {
  height: auto;
  .innerCopyright {
    color: $grey-lighten-2 !important;
    &.hide-on-med-and-down {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: calc(100% - 2vw);
      padding: 0 1vw;
      height: 7.5vh;

      > div {
        height: 21px;
        > a {
          margin-left: 25px;

          align-items: center;
          transition: color 0.3s ease-in-out;
          .inner {
            .default,
            .hover {
              color: $grey-lighten-2 !important;
            }
          }

          &:hover,
          &:active,
          &:focus,
          &.active {
            .inner {
              .default,
              .hover {
                color: $white !important;
              }
            }
          }
        }
      }
    }
    &.hide-on-large-only {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;
      padding: 1vh 0;
      > a,
      > div {
        margin: 0.5vh 0;
      }
      > a {
        align-items: center;
        transition: color 0.3s ease-in-out;
        .inner {
          .default,
          .hover {
            color: $grey-lighten-2 !important;
          }
        }

        &:hover,
        &:active,
        &:focus,
        &.active {
          .inner {
            .default,
            .hover {
              color: $white !important;
            }
          }
        }
      }
    }
  }
}
