.About {
  min-height: 500px !important;
  height: auto;
  .container {
    > div {
      max-width: 800px;
    }
    p {
      padding: 8px 0;
      font-size: 1.1rem;
      line-height: 2rem;
    }
    img {
      max-width: 300px;
      width: 30%;
      min-width: 150px;
      &.hide-on-med-and-down {
        margin: 20px 0 20px 75px;
      }
      &.hide-on-large-only {
        margin: 10px auto;
      }
    }
    a:hover,
    a:active,
    a:focus {
      text-decoration: underline;
    }
  }
}
