:root {
	--light-primary: #ffffff;
	--light-on-primary: #000000;
	--dark-primary: #121212;
	--dark-on-primary: #ededed;

	/* Global variables */
	--primary: var(--light-primary);
	--on-primary: var(--light-on-primary);

	--transition-speed: 300ms;
	--transition-timing: ease-in-out;
}

@media (prefers-color-scheme: light) {
	:root {
		--primary: var(--light-primary);
		--on-primary: var(--light-on-primary);
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--primary: var(--dark-primary);
		--on-primary: var(--dark-on-primary);
	}
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--transition-speed: 0ms;
	}
}

[data-color-scheme="light"] {
	--primary: var(--light-primary);
	--on-primary: var(--light-on-primary);
}

[data-color-scheme="dark"] {
	--primary: var(--dark-primary);
	--on-primary: var(--dark-on-primary);
}

[data-reduced-motion="reduce"] {
	--transition-speed: 0ms;
}

html {
	background: var(--primary);
	color: var(--on-primary);
	transition: all var(--transition-speed) var(--transition-timing);
}
