.Splash {
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  div {
    > h1 {
      font-size: 2.2rem;
      &.big {
        font-size: 4rem;
      }
      a {
        color: $white;
        cursor: pointer;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:active,
        &:focus {
          color: $grey-lighten-2;
        }
      }
      &.hide-on-med-and-down {
        margin-left: -4% !important;
        > span {
          margin-bottom: 10px;
          display: block;
          &:last-child() {
            margin: 0;
          }
        }
      }
    }
    > p {
      font-size: 1.1rem;
      color: $grey-lighten-2;
      &.big {
        font-size: 1.4rem;
      }
      &.hide-on-med-and-down {
        margin-left: -4% !important;
        > span {
          margin-bottom: 5px;
          display: block;
          &:last-child() {
            margin: 0;
          }
        }
      }
    }
    > a {
      cursor: pointer;
      background: transparent !important;
      color: $white;
      width: 20%;
      min-width: 200px;
      margin-top: 4vh;
      transition: transform 0.5s ease-out, box-shadow 0.5s ease-out,
        color 0.5s ease-out, background 0.5s ease-out;
      border-radius: 50px;
      box-shadow: inset 0 0 0px 2px $white !important;

      &:hover,
      &:active,
      &:focus {
        transform: translateY(-2px);
        box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
          0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3) !important;
        background: $white !important;
        color: $black;
        border: none;
      }
      &.waves-effect.waves-blue .waves-ripple {
        background: $blue;
        background: linear-gradient(
          to top right,
          $blue-darken-1,
          $blue-lighten-1
        );
      }
    }
  }
}
