.hind {
  font-family: $hind !important;
}
.open-sans {
  font-family: $open-sans !important;
}
.bold {
  font-weight: 700 !important;
}
.regular {
  font-weight: 400 !important;
}
.underline {
  text-decoration: underline !important;
}
.overline {
  text-decoration: overline !important;
}
.uppercase {
  text-transform: uppercase !important;
}
.lowercase {
  text-transform: lowercase !important;
}
