* {
	margin: 0;
	padding: 0;
	font-family: $text;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	height: auto;
	overflow-x: hidden;
}

noscript {
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: monospace;
}

img {
	-webkit-user-drag: none;
	user-select: none;
}

main {
	overflow: hidden;
	margin-bottom: 30px;
}

.anchor {
	display: block;
	position: relative;
	top: calc(-54px + -4vh);
	visibility: hidden;
}

@media only screen and (max-width: 916px) {
	.anchor {
		top: -4vh;
	}
}

#About h2,
#Skills h2,
#Projects h2 {
	text-align: center;
	position: relative;
	width: auto;
	font-size: 2.5em;
	line-height: 1.25em;
	margin-bottom: 50px;

	&::after {
		content: " ";
		background: black;
		position: absolute;
		bottom: -25%;
		left: 25%;
		width: 50%;
		height: 3px;
	}
}
