* {
  margin: 0;
  padding: 0;
  font-family: $text;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}

noscript {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
}

img {
  -webkit-user-drag: none;
  user-select: none;
}

main {
  overflow: hidden;
  margin-bottom: 30px;
}

.anchor {
  display: block;
  position: relative;
  top: -94px;
  visibility: hidden;
}

@media only screen and (max-width: 916px) {
  .anchor {
    top: 0;
  }
}

#About h1,
#Skills h1,
#Projects h1 {
  text-align: center;
  position: relative;
  width: auto;
  margin-bottom: 25px;
  font-size: 2em;

  &::after {
    content: " ";
    background: black;
    position: absolute;
    bottom: -25%;
    left: 25%;
    width: 50%;
    height: 3px;
  }
}
